@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.award-banner {
  align-items: center;
  background-image: linear-gradient(90deg,#feb119,#f4ce28 25%,#e8a41d 50%,#f4ce28 75%,#feb119);
  border-radius: 0px 3px 3px 0px;
  box-shadow: 1.95px 1.95px 2.6px rgba(0,0,0,.25);
  display: flex;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 500;
  height: 35px;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: translateX(-4px);
  transform: translateX(-2px) translateY(10px);
  width: 130px;
  font-family: 'DM Sans', sans-serif;
  color: #FFFFFF;
}

.award-banner span{
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  margin-right: 5px;
}

.award-banner img{
  margin-left: 10px;
  color: #FFFFFF;
}

/* .project-gallery .card{
  border: 2px solid;
  border-image-source: linear-gradient(212.85deg, rgba(9, 122, 41, 0.76) 8.73%, rgba(43, 208, 90, 0.750223) 53.6%, rgba(177, 239, 128, 0.76) 94.01%);
} */