
.award-banner {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #feb119;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: p0px;
    width: 102%;
    transform: translateX(-3px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }