@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    margin-top: 0px;
    padding-top: 0px;

}

.right-column-container {
    position: relative;
}

.left {
    padding-top: 50px;
    margin-top: 0px;
    width: 50%;
    height: auto;
    display: inline-block;
    padding-left: 50px
}

.headerleft {
    width: 50%;
    margin-left: 5%;
}

.headerright {
    width: 30%;
    margin-right: 5%;
}

.right {
    margin-top: 30px;
    width: 50%;

}

/* Clear floats after the columns */
.p-row:after {
    content: "";
    display: table;
    clear: both;
}

.rowcontent:after {
    content: "";
    display: table;
    clear: both;
}


.rowcontent {
    margin-top: 140px;
}

.bluebox {
    width: 100%;
    /* background-color: #00467f; */

}

.bluebox-top {
    width: 100%;
    background-color: #00467f00;
    height: 60px;
    margin-top: 40px;
}

.bluebox::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-color: #00467f00;
    z-index: -1;
    height: var(--right-column-height) !important;

}

.column.headerright {
    /* margin-top: 50px; */
}

.mainprojectImg {
    min-width: 100px;
    margin-left: 50px;
    width: 90%;
    height: auto;

}

.projecttitle {
    font-family: 'Sen', sans-serif;
    font-weight: 400;
    display: inline-block;
    align-items: center;
    margin-left: 50px;
    font-size: 1.8rem;
    color: #2d4986 ;
    margin-bottom: 10px;
    line-height: 2rem;
    width: 75%;
    padding-top: 10px;
}

.tech {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    overflow: hidden;
    background-color: #f2f2f2;
    padding: 0px 4px;
    border-radius: 4px;
}

.tech p {
    font-size: 1em;
    padding: 5px;
    color: #00467F;
    margin: 0;
    padding: 5px;

}

.techUsed {
    margin-top: 0px;
    margin-left: 40px;


}

.teammembers {
    width: 100%;

}

.companyname {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    color: #2d4986;
    margin: 0;
    padding: 0;
}


.name {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    color: #2d4986;
}

.name p {
    margin: 0;
    padding: 0;
    font-size: 1vw;
}

.names {
    margin-left: 50px;
}

.projectInformation {
    margin-left: 50px;
    margin-right: 80px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.projectInformation h2 {
    color: #00467F;
    font-size: 160%;
    margin-left: 0px;
    padding-left: 0px;
}

.commentbox {
    height: 100%;
    float: right;
    padding-bottom: 5%;
    width: 100%;
}


.liketext {
    font-size: 2vw;
    margin-left: 20px;
    min-width: 300px;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    color: #0080a7;
}

.likebutton {
    width: 25%;
    height: 25%;
    padding-top: 10px;
    transition: all 0.3s ease-in-out;
    opacity: 60%;

}

.likebutton:hover {
    transform: scale(1.1, 1.1);
    opacity: 100%;
}



.likepost {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.likecount {

    font-size: 200%;
    color: #0080a7
}

.commentheading h2 {
    color: #00467F;
    font-size: 2em;
    margin-top: 50px;
    margin-left: 15%;
    margin-bottom: 10px;
}

form {
    margin-left: 15%;
    margin-right: 15%;
}

textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgba(204, 204, 204, 0);
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.writecomment {
    width: 100%;
}

.submitcomment {
    position: relative;
    float: right;
    margin: 0 15% 2% 0;
    width: 30px;
}

.showcomments {
    margin-top: 100px;
}

.comment {
    background-color: #fff;
    border-radius: 5px;
    font-family: Figtree,sans-serif;
    /* margin: 0 50px 40px 25%; */
    padding: 30px 70px;
    width: 75%;
    margin: 10px 0px 10px 15%;
}

.commenttext {
    margin-bottom: 0px;
}

.comment p {
    color: #0080a7;
    padding-left: 20px;
}

.commentname {
    margin-bottom: 0px;
    font-weight: 600;
    transform: translateY(0px);
}


.each-slide-effect>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 30vw;
    width: 50vw;

}

.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.slide {
    padding-right: 0px;
}



.react-slideshow-wrapper.slide {
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(4, 22, 40, 0.47) 0px 8px 24px;
}


/* .image {
    padding-top: 10px;
} */


.pv-likeButton {
    margin-left: 50px;
    margin-top: 10px;
}

.pv-likeButton .like-button-wrapper::before {
    background-color: #008CBA;
}

.projectInformation-wrapper {
    margin: 5% 10%;
    /* width: 90%; */
    font-family: 'Figtree', sans-serif;

}

.react-slideshow-container {
    width: 90%;
    margin-left: 10%;

}

.comment-avatar {
    width: 45px;
    float: left;
    margin: 10px;
    margin-top: 0px;
    transform: translateY(0px);

}

.commentdate {
    text-align: right;
    margin: 0;
    transform: translateY(0px);
}

.commentUsertype {
    margin-bottom: 0px;
    font-weight: 200;
    transform: translateY(0px);
    width: 50%;
    float: left;
    margin-left: 0;
    padding: 0px !important;
}

.commentDetails {
    margin-bottom: 20px;
}

.pv-buttons .btn a {
    color: #fff !important;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    padding-left: 6px;
}

.pv-buttons .btn {
    margin-left: 0%;
    --bs-btn-bg: #3e80b6 !important;
    color: #fff !important;
    border-radius: 5px;
    float: left;
    margin-right: 5%;
    margin-top: 1px;
    padding: 8px 16px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    background-size: 200% 100%;
    background-position: right;
    transition: all 0.25s ease;
    cursor: pointer;
    text-decoration: none;

}

.btn img {
    width: 25px !important;
    height: 25px !important;
    margin-right: 5px;
}

.pv-buttons {
    margin-left: 50px;
    margin-top: 30px;
    min-height: 50px;
    width: 100%;
}

.side-panel-mobile{
    display: none;
}


@media screen and (max-width: 992px) {

    .side-panel-mobile{
        display: block;
    }

    .sidePanel{
        display: none;
    }

    .sidepanel-div{
        display: none;
    }

    .bluebox {
        height: auto;

    }

    .column.headerright {
        margin-top: 0px;
    }

    .pv-likeButton {
        margin: 0 0;

    }

    .projectInformation-wrapper {
        margin: 10% 10%;
        width: 100%;
    }

    .projectInformation {
        margin: 10% 0%;
        margin-left: 40px;
        margin-right: 40px;
    }

    .centerTitle {
        text-align: center;
        width: 100%;
        margin: 0 0;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .pv-buttons {
        display: flex;
        margin: 5px 5px;
        padding: 5px 5px;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .pv-buttons .btn {
        margin: 0 0;
        margin-right: 3%;
        transform: translateY(-1px);
    }

    .projecttitle {
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 0px;
        align-self: center;
        font-size: 3rem;
        line-height: 5rem;
        margin-bottom: 10px;
    }

    .column {
        width: 100%;
    }

    .right {
        float: left;
        padding-right: 18%;
    }

    .left {
        padding-top: 0px;
    }

    .techusedcontainer {
        width: 100%;
        padding-top: 0px;
    }

    .techUsed {
        margin: auto;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .tech p {
        font-size: 1em;
    }

    .names {
        width: 50%;
        margin-left: 0;
    }

    .headerright {
        float: left;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
    }

    .names p {
        font-size: 1em;

    }


    .headerleft {
        width: 100%;
        margin-left: 0px;
        align-content: center;
    }

    .image {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .each-slide-effect>div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 50vw;
        width: 50vw;
    
    }

    .comment {
        width: 90%;
        margin: 5% 5%;
        padding: 20px 20px;
    }

    .commentdate {
        font-size: 12px;

    }

    .p-row{
        flex-direction: column;
    }

    .titlePanel {
        background-color: #ededed;
        border-radius: 0px 0px 10px 10px;
        padding: 10% 0;
        margin-left: 10%;
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .projecttitle {
        margin-left: 0px;
        margin-top: 0px;
        padding-left: 0px;
        align-self: center;
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 10px;
    }
}

.sendcomment {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    float: right;
    padding-top: 10px;
}

.textAreaExample {
    color: white;
}

#comment {
    color: black;
    background-color: white;
}

.deletecommentContainer{
    float: right;
}

.icon-trash {
    fill: #000;
    height: 40px;
    width: 43px;
}


.trash-lid {
    transform-origin: right bottom;
    transition: transform 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.icon-trash:hover .trash-lid {
    transform: translateY(-2px) rotate(30deg);
}

  
  .popup {
    background-color: #fff;
    border: 1px solid #ccc;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .popup h2 {
    font-size: 24px;
    margin-top: 0;
    margin: auto;
  }
  
  .popup p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .popup-buttons {
    display: flex;
    justify-content: center;
  }
  
  .btn-no, .btn-yes {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-no {
    background-color: #dcdcdc;
  }
  
  .btn-yes {
    background-color: #4caf50;
    color: #fff;
  }
  
  .btn-no:hover, .btn-yes:hover {
    opacity: 0.8;
  }
  

  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9998;
  }

  .titlePanel{
    background-color: #ededed;
    border-radius: 0px 10px 10px 0px;
    padding: 10% 0%;
    /* height:400px; */
  }

  .proj-desc{
    margin-bottom: 1rem;
    margin-top: 0;
    width: 75%;
    margin-left: 50px;
    font-size: 14px;
}
  
.p-row {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.titlePanel .semesterTag{
    margin-left: 50px;
}

.sidePanel{
    background-color: #ededed;
    border-radius: 0px 10px 10px 0px;
    padding: 10% 0%;
    /* height:400px; */
    margin-bottom: 10%;
    min-height: 400px;
    padding-right: 10px;
  }

  .sidePanel .project-stats {
    display: flex;
    padding: 20px 10px;
    margin-left: 40px;
    float: none;
  }
  
  .sidePanel .project-stats p {
    margin-bottom: 0px;
    margin-right: 30px;
    font-size: 18px;
    color: #72a0e9;
  }

  .sidePanel .project-stats svg {
    width: 24px;
    height: 24px;
  }



