@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600&display=swap');

/* Project card styles */
.project-gallery {
  margin-top: 5%;
  padding-bottom: 5%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.card .card-img-top {
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

.project-gallery .card .btn {
  --bs-btn-border-radius: 0.0rem !important;
  margin-left: 0%;
  --bs-btn-bg: #00467F !important;
  --bs-btn-border-color: #00467F !important;
  transform: translateY(-3px);
  color: #fff !important;
  border-radius: 5px;
  float: left;
  margin-right: 5%;
  margin-top: 3px;
  padding: 7px 16px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  background-image: linear-gradient(to right, #54a0ff 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: all 0.25s ease;
  cursor: pointer;
  text-decoration: none;

}

.project-gallery .card .btn:hover {
  background-position: left;
  border-color: #54a0ff;
}


.project-gallery .col .card {
  --cui-card-spacer-y: 1rem;
  --cui-card-spacer-x: 1rem;
  --cui-card-title-spacer-y: 0.5rem;
  --cui-card-border-width: 1px;
  --cui-card-border-color: var(--cui-border-color-translucent);
  --cui-card-border-radius: 0.375rem;
  --cui-card-box-shadow: ;
  --cui-card-inner-border-radius: calc(0.375rem - 1px);
  --cui-card-cap-padding-y: 0.5rem;
  --cui-card-cap-padding-x: 1rem;
  --cui-card-cap-bg: rgba(0, 0, 21, .03);
  --cui-card-cap-color: unset;
  --cui-card-height: ;
  --cui-card-color: unset;
  --cui-card-bg: #fff;
  --cui-card-img-overlay-padding: 1rem;
  --cui-card-group-margin: 0.75rem;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: var(--cui-card-bg);
  border: var(--cui-card-border-width) solid var(--cui-card-border-color);
  border-radius: var(--cui-card-border-radius);
  box-shadow: 0 1px 1px 0 rgba(var(--cui-elevation-base-color, 60, 75, 100), .14), 0 2px 1px -1px rgba(var(--cui-elevation-base-color, 60, 75, 100), .12), 0 1px 3px 0 rgba(var(--cui-elevation-base-color, 60, 75, 100), .2);
  display: flex;
  flex-direction: column;
  height: var(--cui-card-height);
  min-width: 0;
  position: relative;
  font-family: 'Figtree', sans-serif;

}

.col .card:hover {
  box-shadow: rgba(50, 50, 93, 0.10) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
  transition: ease-in-out 0.35s;

}


.list-group-item {
  font-size: 14px;
  border: rgba(255, 255, 255, 0) !important;
}

.text-container {
  position: relative;
  max-height: 100px;
  /* Change this value to your desired height */
  overflow: hidden;
}

.fade-text {
  padding: 10px;
}

.fade-effect {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

p.card-text {
  color: #00467F !important;
}


.project-gallery .card .btn {
    font-size: 16px;
    padding: 9px 16px;

}
