* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    margin-top: 0px;
    padding-top: 0px;
   
}


.left {
    padding-top: 50px;
    margin-top: 0px;
    width: 50%;
    height: auto;    
    display: inline-block;
    padding-left: 50px
}

.headerleft{
    width: 50%;
    margin-left: 5%;
}

.headerright{
    height: 30vw;
    width: 30%;
    margin-right: 5%;
    margin-left: 50px;
}

.right {
    margin-top: 30px;
    width: 50%;
    
}

/* Clear floats after the columns */
.p-row:after {
    content: "";
    display: table;
    clear: both;
}

.rowcontent:after {
    content: "";
    display: table;
    clear: both;
}


.rowcontent{
    margin-top:140px;
}
@media screen and (max-width: 800px) 
{
    .column {
        width: 100%;
    }

    .right {
        float:left; 
        padding-right: 18%;

        
    }
    .left {
        padding-top: 0px;
    }


    .headerright{
        display: none;  
    }

    .commentbox {
        background-color: blue;
        margin-left: 4  0%;
    }

    .headerleft {
        width: 100%;
        margin-left: 0px;
        align-content: center;
    }
    .image{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%
    }

  
}

.bluebox {
    margin-top: 100px;
    height: 32vw;
    width: 100%;
    background-color: #00467F;
}

.mainprojectImg{
    min-width: 100px;
    margin-left:50px;
    width: 90%;
    height: auto;
    
}

.projecttitle {
    display: inline-block;
    align-items: center;
    margin-left: 50px;
    font-size: calc(8vw);
    color: white;
    margin-bottom: 0px;
    margin-top: 50px;
 
}

.tech {
    display: inline-block;
    vertical-align: top;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
}

    .tech p {
        font-size: 1.1vw;
        padding: 5px;
        color: white;
        margin: 0;
        padding: 5px;
        
    }

.techUsed {
    margin-top: 0px;
    margin-left:40px; 

 
}
.teammembers {
    width: 100%;
    
}


.companyname {
    display: inline-block;
    vertical-align: top;
    font-size: 1.3vw;
    color: white;
    margin: 0;
    padding: 0;
}


.name {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    color:white;
}

    .name p {
        margin: 0;
        padding: 0;
        font-size: 1.3vw;
    }

.names {
    margin-left: 50px;
}

.projectInformation{
    margin-left: 50px;
    margin-right: 80px;
}

    .projectInformation h2 {
        color: #00467F;
        font-size: 160%;
        margin-left:0px;
        padding-left:0px;
    }

.commentbox {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    width: 82%;
    float: right;
    
}


.liketext {
    font-size: 2vw;
    margin-left: 20px;
    min-width: 300px;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;   
    color: #0080a7;
}
.likebutton {
    width: 25%;
    height: 25%;
    padding-top: 10px;
    transition: all 0.3s ease-in-out;
    opacity: 60%;   

}

    .likebutton:hover {
        transform: scale(1.1,1.1);
        opacity: 100%;
    }

    

.likepost {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.likecount{
    
    font-size: 200%;
    color: #0080a7
}

.commentheading h2 {
    color: #00467F;
    font-size: 240%;
    text-align: center;
    margin-top: 80px;
}

form {
    margin-left: 15%;
    margin-right: 15%;
}

textarea {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2);
}

.writecomment {
    width: 100%;

    
}

.submitcomment {
    position: relative;
    float: right;
    margin: 0 15% 2% 0;
    width:10%;
}

.showcomments{
    margin-top: 100px;
}

.comment{
    margin: 0px 95px 80px 95px; /*Top right bottom left*/
}
.commenttext {
    border-radius: 15px;
    background-color: white;
    padding: 30px 70px 30px 70px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 0.2);
   margin-bottom: 0px;
}    

.comment p{
    color: #0080a7;
    padding-left: 20px;
}

.commentname{
    margin-top: 5px;
}


.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 35vw;
    width: 50vw;
    
}

.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}
.nav default-nav{
    padding-left: 100px;
}

.slide{
    padding-right: 0px;
}

.react-slideshow-container .nav:last-of-type {
    right: -5% !important;
}

.react-slideshow-container .nav:first-of-type {
    left: -5% !important;
}

.react-slideshow-wrapper.slide {
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(4, 22, 40, 0.47) 0px 8px 24px;
}


.image{
    padding-top: 10px;
}