@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Outfit:wght@700&display=swap');

.search-bg {
    width: 80%;
    color: #FFFFFF;
    background-color: #f8fbfc;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 10px solid #f8fbfc;
    border-radius: 5px;
    border-bottom-left-radius: 0%;
    margin-top: 3%;
  }

.headline{
    font-family: 'Outfit', sans-serif;
    margin-left: 10%;
    margin-top: 6%;
    font-size: 3.5em;
    max-width: 50%;
    color: #2d4986;
    line-height: 1.1em;
}

.main {
    display: flex;
    width: 100%;
    align-items: left;
    flex-direction: column;
    row-gap: 20px;
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.search {
    width: 65%;
    padding: 3% 10%;
    padding-top: 20px;
    
}


ul li {
    font-size: 20px;
} 

.webzen-logo {
    width: 25%;
    display: flex;
    position: relative;
    margin-left: 10%;
    height: auto;
    overflow: auto;

}

.webzen-logo p{
    align-items: center;
    vertical-align: middle;
    color: #2d4986;
}

.webzen-logo img{
    position: relative;
    margin-left: 10px;
    max-width: 100px !important;
    height: 100%;
    float: left;
    flex: 1;

}

.illu {
    background-image: url(./images/home-imgv2.png);
    background-position: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 40%;
    left: 50%;
    position: absolute;
    /* top: 20%; */

}

/* .illu img{
    width: 110%;
} */

.bright{
    /* color:#feb119; */
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(120deg, #0a89eb, #72a0e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media screen and (max-width: 992px) {
    .illu img{
        max-width: 70% !important;
        align-items: center;
        margin-left: 15%;

    }

    .illu{
        position: relative;
        left:0%;
        top: 0%;
        align-items:center;
    }

    .webzen-logo {
        width: 100%;
        display: flex;
        position: relative;
        height: auto;
        overflow: auto;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .webzen-logo p{
        vertical-align: middle;
        display: flex;
        margin-bottom: 0;
    }
    
    .headline{
        font-family: 'Sen', sans-serif;
        margin-top: 6%;
        font-size: 2.5em;
        max-width: 80%;
        text-align: center;
        margin-left: 10%;
    }

    .search {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 90%;
       margin-left: 5%;
    }
  }

  @media screen and (max-width: 600px) {

    .webzen-logo img{
        max-width: 80px !important;
    }

    .webzen-logo p{
        font-size: 12px;
    }

    .headline{
        font-family: 'Sen', sans-serif;
        margin-top: 6%;
        font-size: 2em;
        max-width: 90%;
        text-align: center;
        margin-left: 5%;
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin-left: 0;
     }

  }


  @media screen and (max-width: 360px) {

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin-left: 0;
     }

     .search-bar{
        max-width: 400px;
     }

  }

