@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Outfit:wght@700&display=swap');

.search-bg {
    width: 80%;
    color: #FFFFFF;
    background-color: #f8fbfc;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 10px solid #f8fbfc;
    border-radius: 5px;
    border-bottom-left-radius: 0%;
    margin-top: 3%;
  }

.headline{
    font-family: 'Outfit', sans-serif;
    margin-left: 10%;
    margin-top: 6%;
    font-size: 3.5em;
    max-width: 50%;
    color: #2d4986;
    line-height: 1.1em;
}

.main {
    display: flex;
    width: 100%;
    align-items: left;
    flex-direction: column;
    row-gap: 20px;
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.search {
    width: 65%;
    padding: 3% 10%;
    padding-top: 20px;
    
}


ul li {
    font-size: 20px;
} 

.webzen-logo {
    width: 25%;
    display: flex;
    position: relative;
    margin-left: 10%;
    height: auto;
    overflow: auto;

}

.webzen-logo p{
    align-items: center;
    vertical-align: middle;
    color: #72a0e9;
    margin-top: 10px;
}

.webzen-logo img{
    position: relative;
    margin-left: 10px;
    max-width: 100px !important;
    height: 100%;
    float: left;
    flex: 1;

}

.illu {
    background-image: url(./images/home-imgv2.png);
    background-position: 60%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 40%;
    left: 50%;
    position: absolute;
    /* top: 20%; */

}

/* .illu img{
    width: 110%;
} */

.bright{
    /* color:#feb119; */
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(120deg, #0a89eb, #72a0e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fancy {
    position: relative;
    white-space: nowrap;
  }
  .fancy:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2372a0e9' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }


@media screen and (max-width: 992px) {
    .illu img{
        max-width: 70% !important;
        align-items: center;
        margin-left: 15%;

    }

    .illu{
        position: relative;
        left:0%;
        top: 0%;
        align-items:center;
    }

    .webzen-logo {
        width: 100%;
        display: flex;
        position: relative;
        height: auto;
        overflow: auto;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    .webzen-logo p{
        vertical-align: middle;
        display: flex;
        margin-bottom: 0;
    }
    
    .headline{
        font-family: 'Sen', sans-serif;
        margin-top: 6%;
        font-size: 2.5em;
        max-width: 80%;
        text-align: center;
        margin-left: 10%;
    }

    .search {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 90%;
       margin-left: 5%;
    }
  }

  @media screen and (max-width: 600px) {

    .webzen-logo img{
        max-width: 80px !important;
    }

    .webzen-logo p{
        font-size: 12px;
    }

    .headline{
        font-family: 'Sen', sans-serif;
        margin-top: 6%;
        font-size: 2em;
        max-width: 90%;
        text-align: center;
        margin-left: 5%;
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
     }

  }


  @media screen and (max-width: 360px) {

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
     }

     .search-bar{
        max-width: 400px;
     }

  }

