@import url('https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap');

.filter-bg{
    width:100%;
    color: #00467F;
    background-color: #f2f2f2;
    align-items:center;
    justify-content: center;
    margin: 0 auto;
    border: 10px solid #f2f2f2;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 2%;
    
}

.bg-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2{
    font-family: 'Sen', sans-serif;
    margin-left: 5%;
    margin-top: 6%;
    font-size: 3em;
    max-width: 60%;
}

.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: left;
    flex-direction: column;
    row-gap: 20px;
}

h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}


ul li {
    font-size: 20px;
} 

h3 {
    padding:1% 10%;
}

.collapse .row,
.collapsing .row{
    width: 100%;
    margin: 0 auto;
}

.filters {
    margin-left: 0%;
    width: 80%;
}

.collapse .card,
.collapsing .card {
    --bs-card-border-width: 0px !important;
    width: 80%;
    margin: 0px;
    margin-left: 10%;
    margin-top: 0%;
    padding-top: 0%;
}

.filter-btn .btn{
    --bs-btn-border-radius: 0.0rem !important;
    margin-left: 10%;
    margin-bottom: 0%;
    --bs-btn-bg: #00467F !important;
    --bs-btn-border-color: #00467F !important;
    transform: translateY(-3px);
}

.apply-filter-btn-wrapper{
    width: 80%;
}

.apply-filter-btn-wrapper .btn{
    --bs-btn-border-radius: 0.0rem !important;
    --bs-btn-bg: #00467F !important;
    --bs-btn-border-color: #00467F !important;
    color: #fff !important;
    border-radius: 5px;
    float: left;
    margin-left: 12px;
    margin-top: 2%;
    padding: 7px 16px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    background-image: linear-gradient(to right, #54a1ff00 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 0.25s ease;
    cursor: pointer;
    text-decoration: none;
}

.filters p {
    font-weight: 500;
    margin-bottom: 0;
}

@media screen and (max-width: 1200px) {
    .row .w-25{
        width: 50% !important;
    }


  }



@media screen and (max-width: 768px) {
    .row .w-25{
        width: 100% !important;
    }

    .row .w-50{
        width: 100% !important;
    }
  }
